name: GA Airflow Build and Push

on:
  push:
    branches: [master]
  release:
    release:
    types:
      - created

env:
  ORG: geoscienceaustralia
  IMAGE: airflow
  TAG: latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Login to DockerHub
      run: |
        echo "${{ secrets.DockerPassword }}" | docker login -u "${{ secrets.DockerUser }}" --password-stdin

    - name: Extract repo tag
      if: github.event_name == 'release'
      run: >
        echo "RELEASE_TAG::$(git describe --tags)" >> $GITHUB_ENV


    - name: Build Airflow image
      run: |
        docker build \
        --tag  ${ORG}/${IMAGE}:${TAG} .

    - name: Push latest to DockerHub
      run: |
        docker push ${ORG}/${IMAGE}:${TAG}

    - name: Tag a release
      if: github.event_name == 'release'
      run: |
        docker tag ${ORG}/${IMAGE}:${TAG} ${ORG}/${IMAGE}:${RELEASE_TAG}
        docker push ${ORG}/${IMAGE}:${RELEASE_TAG}

    - name: Trivy scan the image
      uses: aquasecurity/trivy-action@0.0.6
      with:
        image-ref: "${{ env.ORG }}/${{ env.IMAGE }}:${{ env.TAG }}"
        format: "table"
        exit-code: "1"
        severity: "CRITICAL,HIGH"
